body{
    background-color: pink;
    margin: 0;
    padding: 0;
}
h3{
    color: red;
}
ul{
    position: relative;
    list-style: none;
    margin: 100px auto;
    width: 100px;
    height: 200px;
    border: 1px solid red;

}
ul:hover{
    transition: 1s linear ;
}
ul:hover .li1{
    transform: rotateZ(30deg);
}
ul:hover .li2{
    transform: rotateZ(60deg);
}
ul:hover .li3{
    transform: rotateZ(180deg);
}
ul:hover .li4{
    transform: rotateZ(240deg);
}
ul:hover .li5{
    transform: rotateZ(300deg);
}
ul:hover .li6{
    transform: rotateZ(360deg);
}
ul>li{
    position: absolute;
    width: 100px;
    height: 200px;
    border: 1px solid blue;
}
.li1{
    background-color: rgba(17, 175, 83, 0.541);
}
.li2{
    background-color: rgb(206, 160, 10);
}
.li3{
    background-color: rgb(33, 206, 10);
}
.li4{
    background-color: rgb(170, 206, 10);
}
.li5{
    background-color: rgb(206, 10, 141);
}
.li6{
    background-color: rgb(177, 109, 109);
}